@model IList<Pago>
@{
    ViewData["Title"] = "Listado de Pagos";
    var listaInmuebles = ViewBag.inmuebles as List<Inmueble>;
    var listaInquilinos = ViewBag.inquilinos as List<Inquilino>;
    var listaContratos = ViewBag.contratos as List<Contrato>;
}

<div class="text-center">
    <h1 class="display-4">Listado de Pagos</h1>
    <table class="table table-sm table-striped table-hover">
        <tr>
            <th>N° de Pago</th>
            <th>N° de Contrato</th>
            <th>Inmueble</th>
            <th>Inquilino</th>
            <th>Fecha de Pago</th>
            <th>Monto </th>
            <th>Acciones</th>
        </tr>
        @foreach (var pago in Model)
        {
            <tr>
                <td>@(pago.Id_Pago)</td>
                <td>@(pago.Id_Contrato)</td>
                <td>
                    @{
                        var contrato = listaContratos.FirstOrDefault(c => c.Id_contrato == pago.Id_Contrato);
                        var inmueble = listaInmuebles.FirstOrDefault(i => i.Id_inmueble == contrato.Id_inmueble);
                        if (inmueble != null)
                        {
                            @inmueble.Direccion
                        }
                    }
                </td>
                <td>
                    @{
                        var inquilino = listaInquilinos.FirstOrDefault(i => i.Id_inquilino == contrato.Id_inquilino);
                        if (inquilino != null)
                        {
                            @inquilino.Nombre @inquilino.Apellido
                        }
                    }
                </td>
                <td>@pago.Fecha_Pago.ToString("dd/MM/yyyy")</td>
                <td>@(pago.Monto)</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@pago.Id_Pago">Editar</a>
                    <a asp-action="EliminarPago" asp-route-id="@pago.Id_Pago">Borrar</a>
                </td>
            </tr>
        }

    </table>
</div>
