@model IList<Inmueble>
@{
    ViewData["Title"] = "Inmuebles";
    var listaInquilinos = ViewBag.inquilinos as List<Inquilino>;
    var listaContratos = ViewBag.contratos as List<Contrato>;
}

<div class="text-center ">
    <h2 class="display-4">Listado de Inmuebles Alquilados</h2>
    <div class="text-start mb-3">
        <a class="material-symbols-outlined" asp-controller="Inmueble" asp-action="CrearInmueble"
            title="Añadir Inmueble">add_business</a>
        <div class="mb-3">
            <strong><label for="txtBusqueda" class="form-label">Buscar:</label></strong>
            <input type="text" id="txtBusqueda" class="form-control-sm" placeholder="Buscar Inmueble...">
        </div>
    </div>
    <table id="tblInmuebles" class="table table-sm table-striped table-hover table-light">
        <tr>
            <th>Inquilino</th>
            <th>Direccion</th>
            <th>Uso</th>
            <th>Tipo</th>
            <th>Ambientes</th>
            <th>Precio</th>
            <th>Ubicacion</th>
            <th>Propietario</th>
            <th>Acciones</th>
        </tr>
        @foreach (var inmueble in Model)
        {
            <tr>
                <td>
                    @{
                        var contrato = listaContratos.FirstOrDefault(c => c.Id_inmueble == inmueble.Id_inmueble);
                        var inquilino = listaInquilinos.FirstOrDefault(i => i.Id_inquilino == contrato.Id_inquilino);
                        @($"{inquilino.Nombre} {inquilino.Apellido}")
                    }
                </td>
                <td>@(inmueble.Direccion)</td>
                <td>@(inmueble.Uso)</td>
                <td>@(inmueble?.Tipo?.Tipo)</td>
                <td>@(inmueble?.Cantidad_Ambientes)</td>
                <td>@(inmueble?.Precio_Alquiler)</td>
                <td>
                    <a href="https://www.google.com/maps/search/?api=1&amp;query=@inmueble?.Latitud,@inmueble?.Longitud"
                        target="_blank">
                        <span class="material-symbols-outlined">
                            home_pin
                        </span>
                    </a>
                </td>
                <td>@($"{inmueble?.Propietario?.Nombre} {inmueble?.Propietario?.Apellido}" ?? "")</td>
                <td name="Acciones">
                    <a class="material-symbols-outlined" asp-controller="Pago" asp-action="CrearPago"
                        asp-route-Id="@inmueble?.Id_inmueble" title="Pagar Alquiler">paid</a>
                </td>
            </tr>
        }
    </table>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const inputBusqueda = document.getElementById("txtBusqueda");
        const tablaInmuebles = document.getElementById("tblInmuebles");

        inputBusqueda.addEventListener("input", function () {
            const filtro = inputBusqueda.value.toLowerCase();
            const filas = tablaInmuebles.querySelectorAll("tr");

            filas.forEach(function (fila, index) {
                if (index === 0) return;
                const contenidoFila = fila.textContent.trim().toLowerCase();
                const mostrarFila = contenidoFila.includes(filtro);
                fila.style.display = mostrarFila ? "" : "none";
            });
        });
    });
</script>
