@model IList<Inquilino>
@{
    ViewData["Title"] = "Inquilinos";
}

<div class="text-center">
    <h1 class="display-4">Listado de Inquilinos</h1>
    <div class="text-start mb-3">
        <a class="material-symbols-outlined" asp-controller="Inquilino" asp-action="CrearInquilino"
        title="Agregar Inquilino">person_add</a>
        <div class="mb-3">
            <strong><label for="txtBusqueda" class="form-label" >Buscar:</label></strong>            
            <input type="text" id="txtBusqueda" class="form-control-sm" placeholder="Buscar Inquilino...">
        </div>
    </div>
    <table id="tblInquilino" class="table table-sm table-striped table-hover table-light">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
        @foreach (var inquilino in Model)
        {
            <tr>
                <td>@inquilino.Nombre</td>
                <td>@inquilino.Apellido</td>
                <td>@inquilino.Dni</td>
                <td>@inquilino.Direccion</td>
                <td>@inquilino.Telefono</td>
                <td>@inquilino.Correo</td>
                <td><a class="material-symbols-outlined" asp-controller="Inquilino" asp-action="EditarInquilino" asp-route-Id="@inquilino.Id_inquilino">edit_note</a> | 
                <a class="material-symbols-outlined" asp-controller="Inquilino" asp-action="EliminarInquilino" asp-route-Id="@inquilino.Id_inquilino">delete</a></td>
            </tr>
        }
    </table>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const inputBusqueda = document.getElementById("txtBusqueda");
        const tablaInmuebles = document.getElementById("tblInquilino");

        inputBusqueda.addEventListener("input", function () {
            const filtro = inputBusqueda.value.toLowerCase();
            const filas = tablaInmuebles.querySelectorAll("tr");

            filas.forEach(function (fila, index) {
                if (index === 0) return;
                const contenidoFila = fila.textContent.trim().toLowerCase();
                const mostrarFila = contenidoFila.includes(filtro);
                fila.style.display = mostrarFila ? "" : "none";
            });
        });
    });
</script>